<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <clear />
	  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="KSociety.Base" value="https://ci.appveyor.com/nuget/ksociety.base" />
    <add key="KSociety.Log" value="https://ci.appveyor.com/nuget/ksociety.log" />
  </packageSources>
  <packageRestore>
	  <clear />
	  <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
	  <clear />
	  <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
	  <clear />
	  <add key="format" value="1" />
    <add key="disabled" value="True" />
  </packageManagement>
  <config>
	  <clear />
	  <add key="globalPackagesFolder" value="..\..\Lib" />
  </config>
</configuration>