<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="KSociety.Com.Install" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="61bb283f-fbef-4ae2-b0e7-d7be60cc52a0">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseUrl="https://www.example.com/license" Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Chain>
      <!-- TODO: Define the list of chained packages. -->
      <!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
    </Chain>

  </Bundle>
</Wix>
