@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="S7" asp-controller="Home" asp-action="Index">S7</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="S7" asp-controller="S7Connection" asp-action="Index">Connection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="S7" asp-controller="S7Tag" asp-action="Index">Tag</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="S7" asp-controller="S7Tools" asp-action="Index">Tools</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
@RenderBody()
@await RenderSectionAsync("Scripts", required: false)
