<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="KSociety.ComServer.MsiSetup $(Version) $(NetVersion)"
           Manufacturer="K-Society"
           Version="$(AssemblyFileVersion)"
           UpgradeCode="2984B268-23E9-4312-9545-2A0EE71BC0C5"
           InstallerVersion="500"
           Language="1033"
           Scope="perMachine"
           ShortNames="yes">
    <Media Id="1" Cabinet="LogServer_$(NetVersion).cab" EmbedCab="yes"/>
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    <WixVariable Id="Edition" Value="Enterprise"/>
    <ui:WixUI Id="WixUI_Minimal" />

    <Feature Id="Main">
      <ComponentGroupRef Id="File" />
    </Feature>
  </Package>
</Wix>
