@page "/"
@using System.ComponentModel

@inject KSociety.Com.Srv.Agent.Interface.Query.Common.List.GridView.ITagGroup ListItem;

<h1>Hello, world!</h1>

<br/><br/>
<DataGridComponent T="Srv.Dto.Common.TagGroup"
                   TList="Srv.Dto.Common.List.GridView.TagGroup"
                   QueryListGridView = "data"
                   Paging="@(new PagingConfig{ Enabled = true, CustomPager = false, PageSize = 3})"></DataGridComponent>

@code
{
    //private List<Employee> listEmployees;
    //private List<ColumnDefinition> columnsDefinition;
    private Srv.Dto.Common.List.GridView.TagGroup data;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        data = ListItem.LoadAllRecords();
        
        //Initialize();
    }

    //private void Initialize()
    //{
    //    if (columnsDefinition == null)
    //    {
    //        columnsDefinition = new List<ColumnDefinition>();
    //        columnsDefinition.AddRange(new ColumnDefinition[]
    //        {
    //            new ColumnDefinition {DataField = "Name", Caption = "Name"},
    //            new ColumnDefinition {DataField = "Title", Caption = "Title"},
    //            new ColumnDefinition {DataField = "Department", Caption = "Department"},
    //            new ColumnDefinition {DataField = "EmploymentDate", Caption = "Employment Date", Alignment = Alignment.Center, DataType = DataType.Date, Format = "yyyy/MM/dd"},
    //            new ColumnDefinition {DataField = "Salary", Caption = "Annual Salary", DataType = DataType.Currency, Alignment = Alignment.Right, Format = "c"},
    //        });
    //    }

    //    if (listEmployees == null)
    //    {
    //        listEmployees = new List<Employee>();
    //        listEmployees.AddRange(new Employee[]
    //        {
    //            new Employee
    //            {
    //                Name = "Pippo",
    //                Title = "Developer",
    //                Department = "Software Dep",
    //                EmploymentDate = DateTime.Now,
    //                Salary = 100000
    //            }
    //        });
    //    }
    //}

    class Employee
    {
        public string Name { get; set; }
        public string Title { get; set; }
        public string Department { get; set; }
        public DateTime EmploymentDate { get; set; }
        public int Salary { get; set; }
    }
}
