@page "/settings"

@inject KSociety.Base.Srv.Agent.IAgentDatabaseControl DatabaseControl

<h3>Settings</h3>

<p>ConnectionString: @_connectionString</p>

<button class="btn btn-primary" @onclick="EnsureCreate">Ensure Create</button>

<button class="btn btn-primary" @onclick="Migration">Migration</button>

<button class="btn btn-danger" @onclick="EnsureDeleted">Ensure Deleted</button>


@code {
    private string _connectionString = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _connectionString = await DatabaseControl.GetConnectionStringAsync();
    }

    private async Task EnsureCreate()
    {
        await DatabaseControl.EnsureCreatedAsync();
    }

    private async Task Migration()
    {
        await DatabaseControl.MigrationAsync();
    }

    private async Task EnsureDeleted()
    {
        await DatabaseControl.EnsureDeletedAsync();
    }

}
