@page "/tagGroup"
@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment WebHostEnvironment;
@inject KSociety.Com.Srv.Agent.Interface.Command.Common.ITagGroup TagGroupCommand;
@inject KSociety.Com.Srv.Agent.Interface.Query.Common.ITagGroup TagGroupQuery;
@inject KSociety.Com.Srv.Agent.Interface.Query.Common.List.GridView.ITagGroup TagGroupQueryListGridView;

<h3>TagGroup</h3>

@code {

}
